@use "./../../assets/variables.scss" as *;
@use "./../../assets/motions.scss" as *;

.settings-Page {
  .container {
    margin: 50px 0;
    transition: all 1s ease;
    animation: fadein 1s ease-in-out;
    header {
      width: 400px;
      margin: 20px;
      h2 {
        color: $text-color;
      }
    }
    .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .settings-Bg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 20%;
        img {
          width: 65%;
        }
      }
      form {
        position: absolute;
        margin: 20px 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        z-index: 10;
        input {
          width: 300px;
        }
        .btns {
          display: flex;
          flex-direction: column;
          gap: 20px;
          button {
            width: 340px;
            background-color: $second-color;
            border: none;
          }
          a {
            text-align: center;
            color: #e8f0fe;
            padding: 15px;
            font-size: 15px;
            font-family: $second-font;
            width: 310px;
            border-radius: 12px;
            &:hover {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .settings-Page {
    .container {
      .row {
        margin-left: 7%;
        .settings-Bg {
          img {
            display: none;
          }
        }
      }
    }
  }
}
