@use "./../../assets/variables.scss" as *;
@use "./../../assets/motions.scss" as *;

.add-Note {
  position: absolute;
  top: -80%;
  left: -50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  form {
    position: relative;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 3px;
    animation: bounce 1s ease-in-out;
    box-shadow: -10px 10px 12px $shadow-color;
    .closeIcon {
      position: absolute;
      padding: 20px;
      top: -30px;
      left: 95%;
      font-size: 10px;
      color: $text-color;
      width: max-content;
      animation: fadein 1s ease;
      cursor: pointer;
      &:hover {
        .tooltip-Text {
          visibility: visible;
          margin: 15px 0;
          padding: 3px;
          width: 40px;
          top: -53px;
          left: 25px;
          font-size: 12px;
        }
      }
    }
    input {
      width: 90%;
      margin: 10px 5px;
      box-shadow: none;
    }
    textarea {
      width: 90%;
      box-shadow: none;
    }
    .length {
      position: absolute;
      top: 425px;
      left: 90%;
      width: 50px;
      font-size: 16px;
    }
    .fa-solid {
      display: block;
      text-align: right;
      font-size: 20px;
      margin: 7px;
      opacity: 0.8;
      color: $second-color;
      width: 90%;
    }
    .fa-quote-left {
      text-align: left;
    }
    .fa-lock,
    .fa-lock-open {
      border: none;
      font-size: 20px;
      background: linear-gradient(
        rgba(128, 128, 128, 0.808),
        rgba(128, 128, 128, 0.6),
        rgba(128, 128, 128, 0.55),
        rgba(107, 107, 107, 0.705)
      );
      border-radius: 50%;
      width: 20px;
      padding: 25px;
      color: #333;
    }
    button {
      width: 300px;
      margin-bottom: 25px;
      margin-top: 15px;
    }
    &:after {
      content: "";
      position: absolute;
      top: -7px;
      left: 25%;
      width: 250px;
      height: 25px;
      border-radius: 3px;
      background-color: $second-color;
    }
  }
  &:hover {
    box-shadow: $box-shadow;
  }
}

@media (max-width: 860px) {
  .add-Note {
    align-items: center;
    form {
      width: 400px;
      position: absolute;
      top: -600px;
      left: 100px;
      &:after {
        left: 20%;
      }
      p {
        top: 10px;
        left: 50%;
        margin-top: -15px;
        z-index: 5;
      }
    }
  }
}
