.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  .container {
    margin: 50px auto;
    .news-letter {
      h3 {
        display: flex;
        justify-content: center;
        color: var(--light);
        font-size: 30px;
      }
      form {
        width: 100%;
        position: relative;
        margin: 10px 35px;
        input {
          padding: 10px;
          width: 80%;
          border: none;
          border-radius: 7px;
          background-color: #465563;
        }
        input::first-line {
          font-family: "Tajawal";
        }
        button {
          position: absolute;
          left: 75px;
          top: -3px;
          width: 15%;
          font-size: 24px;
          background-color: transparent;
          span {
            color: var(--secondary);
            font-family: "Tajawal";
            font-weight: 300;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
    .navigation {
      p {
        display: inline-block;
        padding-left: 10px;
        color: var(--light);
        font-size: 14px;
        &:hover {
          color: var(--secondary);
        }
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      h2 {
        color: var(--light);
        font-weight: 200;
        transition: 0.2s ease-in-out;
        span {
          color: var(--secondary);
        }
        &:hover {
          color: var(--secondary);
        }
      }
    }
    .copyrights {
      display: flex;
      justify-content: center;
      margin: -20px;
      font-size: 14px;
      font-weight: 300;
      color: var(--light);
      span {
        color: var(--secondary);
      }
    }
  }
}
