.dashboard-profile {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 1s ease;
    animation: fadein 1s ease-in-out;
    .header{
      padding: 10px;
      color: var(--main);
      font-size: 30px;
      text-align: right;
    }
    .row {
      width: 100%;
      margin: 50px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      .profile-img {
        padding: 20px;
        img {
          width: 200px;
        }
      }
      .info {
        margin-top: 20px;
        color: var(--main);
        .info-header{
          display:flex;
          justify-content: space-between;
          h2{

          }
          button{
            width: 100px;
            height: 50px;
            border-radius: 15px;
            border: 1px solid var(--main);
            background-color: var(--main);
            color: var(--light);
            &:hover {
              background-color: transparent;
              color: var(--main);
            }
          }
        }
        .fa-light {
          display: inline-block;
          padding: 0 5px;
        }
        p{
          display: inline;
          font-size: 16px;
        }
      }
      .location {
        padding-top: 10px;
        color: var(--main);
        .fa-light {
          display: inline;
          padding: 0 5px;
        }
        p {
          display: inline;
        }
      }
      .bio {
        p {
          color: #465563;
        }
      }
    }
    .user-contact {
      position: absolute;
      bottom: 250px;
      padding: 10px;
      width: 100%;
      margin: 100px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      overflow-y: auto;
      .social-box {
        border: 1px solid var(--main);
        border-radius: 7px;
        width: 150px;
        padding: 20px;
        margin: 10px;
        transition: 0.2s ease-in-out;
        .fa-brands {
          display: inline;
          padding: 5px;
          margin-left: 20px;
        }
        p {
          display: inline;
        }
        &:hover {
          background-color: var(--main);
          color: var(--light);
        }
      }
    }
  }
}
