.terms {
  .container {
    width: 100%;
    padding: 20px;
    background-color: var(--main);
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--light);
      margin: 40px 0 50px;
    }
    .first-sec {
      .row {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .text {
          margin-right: 20px;
          h4 {
            color: var(--light);
            font-weight: 400;
            span {
              display: inline-block;
              height: 30px;
              width: 30px;
              padding: 5px 12px;
              background-color: var(--light);
              border-radius: 50%;
              color: var(--main);
            }
          }
          h2 {
            color: var(--secondary);
          }
          p {
            color: var(--light);
          }
          button {
            padding: 10px;
            border: 1px solid var(--secondary);
            color: var(--secondary);
            border-radius: 7px;
            background-color: transparent;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            &:hover {
              background-color: var(--secondary);
              color: var(--dark);
            }
          }
        }
        .img {
          margin-left: 20px;
        }
      }
    }
    .first-arr {
      position: relative;
      img {
        position: absolute;
        top: -300px;
        left: 35%;
      }
    }
    .second-sec {
      margin-top: -50px;
      .row {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .text {
          margin-left: 50px;
          h4 {
            color: var(--light);
            font-weight: 400;
            span {
              display: inline-block;
              height: 30px;
              width: 30px;
              padding: 5px 12px;
              background-color: var(--light);
              border-radius: 50%;
              color: var(--main);
            }
          }
          h2 {
            color: var(--secondary);
          }
          p {
            color: var(--light);
          }
          button {
            padding: 10px;
            border: none;
            background-color: var(--secondary);
            color: var(--dark);
            border-radius: 7px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            &:hover {
              border: 1px solid var(--secondary);
              background-color: transparent;
              color: var(--secondary);
            }
          }
        }
      }
    }
    .second-arr {
      position: relative;
      img {
        width: 200px;
        position: absolute;
        top: -50px;
        right: 40%;
      }
    }
    .third-sec {
      .row {
        margin-top: 200px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .text {
          margin-right: 20px;
          h4 {
            color: var(--light);
            font-weight: 400;
            span {
              display: inline-block;
              height: 30px;
              width: 30px;
              padding: 5px 12px;
              background-color: var(--light);
              border-radius: 50%;
              color: var(--main);
            }
          }
          h2 {
            color: var(--secondary);
          }
          p {
            color: var(--light);
          }
          button {
            padding: 10px;
            border: 1px solid var(--secondary);
            color: var(--secondary);
            border-radius: 7px;
            background-color: transparent;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            &:hover {
              background-color: var(--secondary);
              color: var(--dark);
            }
          }
        }
        .img {
          margin-left: -40px;
          img {
            width: 600px;
          }
        }
      }
    }
    .third-arr {
      position: relative;
      margin-bottom: 50px;
      img {
        position: absolute;
        top: -80px;
        right: 40%;
      }
    }
  }
}
