.policy {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    color: var(--light);
    padding: 20px;
    h2 {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
    }
    p {
      width: 70%;
    }
  }
}
