/*
  *** Motions INDEX FILE
*/

/* Main Motions */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaling {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes scaling-90 {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 90%;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(-4px);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-4px);
  }
}

@keyframes movetoRight {
  from {
    opacity: 0;
    left: -10px;
  }
  to {
    opacity: 1;
    left: 10px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes progress {
  0% {
    width: 10%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 98%;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    left: -100px;
  }
  50% {
    opacity: 1;
    left: 10px;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
    transform-origin: center center;
  }
  to {
    transform: rotateZ(360deg);
    transform-origin: center center;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  20% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -25px, 0);
  }
  45% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -25px, 0);
  }
  55% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    opacity: 1;
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bouncebtn {
  0% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  20% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -25px, 0);
  }
  45% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -25px, 0);
  }
  55% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
