/*
    *** Main Variables File 
*/

$background-color: #c1ccf0;
$second-color: #4365af;
$text-color: #333333d5;
$shadow-color: rgb(0, 0, 0, 0.2);
$box-shadow: -5px 5px 5px $background-color, -7px 5px 7px $shadow-color;
$second-font: "Gochi Hand", cursive;
