:root {
  /** Primary **/
  --main: #607486;
  --main-rgb: 96, 116, 134;
  --main-shadow: #6d859b;
  --main-tint: #5b7185;

  /** Secondary **/
  --secondary: #fbb03b;
  --secondary-rgb: 251, 176, 59;
  --secondary-shadow: #d69936;
  --secondary-tint: #e9b055;

  /** success **/
  --success: #10dc60;
  --success-rgb: 16, 220, 96;
  --success-shadow: #0ec254;
  --success-tint: #28e070;

  /** warning **/
  --warning: #ffce00;
  --warning-rgb: 255, 206, 0;
  --warning-shadow: #e0b500;
  --warning-tint: #ffd31a;

  /** danger **/
  --danger: #f04141;
  --danger-rgb: 245, 61, 61;
  --danger-shadow: #d33939;
  --danger-tint: #f25454;

  /** dark **/
  --dark: #222428;
  --dark-rgb: 34, 34, 34;
  --dark-shadow: #1e2023;
  --dark-tint: #383a3e;

  /** Gray **/
  --gray: #efefef;
  --gray-rgb: 152, 154, 162;
  --gray-shade: #e0e0e0;
  --gray-tint: #c4c6ce;

  /** light **/
  --light: #f4f5f8;
  --light-rgb: 244, 244, 244;
  --light-shadow: #d7d8da;
  --light-tint: #fafafa;
}
